body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(0, 221, 255);
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
}

.logo img {
  width: auto;
  height: 50px;
  margin-left: 20px;
}

.logotext h1 {
  color: #fff;
  margin: 0;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

router-link {
  text-decoration: none;
}

#hero {
  height: 1000px;
display: flex;
align-items: center;
padding: 0px;
background-image: url("https://trawell.blob.core.windows.net/img/Banner.jpg");
background-size: cover;
background-position: center;
position: relative;

}

.hero-content {
  color: #fff;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-content h2{
  font-size: 90px;
  border: 2px solid white;
  padding: 20px;
  width: 800px;
}

.hero-content h3{
  background-color: #14daf9;
  border-radius: 15px;
  font-size: 30px;
  padding: 5px;
}

main {
  padding-top: 10px;
}

/* Grid view for categories */
.category-grid {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
  gap: 0;
}

.category {
  text-align: center;
  background-color: white;
  padding: 10px;
}


.category :hover{
  transform: translateY(-6px);
  transform:  scale(0.75,0.75);
}

.category img {
  width: 100%;
  height: 250px;
}


.category h3 {
  margin-top: 15px;
  font-family:Arial, Helvetica, sans-serif;
  color:  grey;
  font-size: 30px;
}
.animated-heading {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.animated-heading::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #14daf9;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.animated-heading:hover {
  transform: translateY(-6px);
}

.animated-heading:hover::after {
  transform: scaleX(1);
}

footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.container {
  height:150px;
  max-width: 900px;
  margin: 0 auto;
}

.contributors{
  margin-bottom:15px ;
  margin-top: 15px;
}
.contributors span {
  margin-right: 10px;
  color:white;
  
}

.contributors span :hover{
  color: #14daf9;
}

.follow-us{
  color:white;
  margin-bottom:15px ;
}
.follow-us a {
  display: inline-block;
  margin: 0 5px;
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

.follow-us a:hover {
  color:rgb(0, 221, 255) ;
}

.footer-text p {
  margin: 5px 0;
  color: white;
  margin-bottom:15px ;
}

/* desc_html
.imgs-grid {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding: 50px;
  gap: 0;
}

.imgs {
  text-align: center;
  padding:10px
}
.imgs img {
  width: 100%;
  height: 250px;
  
} */
.destination {
display: flex;
white-space: nowrap;
padding-bottom: 10px;
}

.destination-name {
margin-right: 10px;
}

.destination-details {
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
}


.destination-details h2 {
  margin-bottom: 10px;
  font-size: 40px;
}


.destination-details .location {
  font-size: 20px;
  margin-bottom: 10px;
}
.destination-details .caption {
  font-size: 18px;
  margin-bottom: 10px;
}

.text {
  font-size: 17px;
  color: gray;
}

.moreText {
  display: none;
}

.read-more-btn {
  padding: 5px 5px;
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.text.show-more .moreText {
  display: inline;
}

.text.show-more .dots {
  display: none;
}

.destination-details .best-time {
  font-size: 16px;
  margin-bottom: 10px;
}

.destination-details .rating {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-left: auto;
  align-items:flex-end;
  height: fit-content;
}
.destination-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
  position: relative;
  width: 60%;
  overflow: hidden;
}
.images {
  display: flex;
  width: 100%;
}
.images img {
 height:1000px;
 width:600px;
  transition: all 0.25s ease;
}
.images input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid rgb(0, 187, 255) 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: rgba(0, 255, 225, 0.541);}
#img1:checked ~ .m1 {
  margin-left: 0%;
}
#img2:checked ~ .m2 {
  margin-left: -100%;
}
#img3:checked ~ .m3 {
  margin-left: -200%;
}
#img4:checked ~ .m4 {
  margin-left: -300%;
}
#img5:checked ~ .m5 {
  margin-left: -400%;
}
#img6:checked ~ .m6 {
  margin-left: -500%;
}
