<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<meta name="application-name" content="TRAWELL">
		<meta name="description" content="Microsoft Future Ready Talent Project">
		<meta name="author" content="ANSH KUSHWAHA">
		<meta name="color-scheme" content="dark">
		<meta name="theme-color" content="black" media="(prefers-color-scheme: dark)">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <noscript>JavaScript Error !!! :- Not Supported OR Currenlty Blocked by Your Browser</noscript>
        <title>TraWell</title>
	</head>
	<body>

        <link rel="stylesheet" href="./static/css/style.css">
        <script type="application/javascript" src="./static/js/script.js"></script>
	</body>
</html>